.casses__desktop--page {
  /* Desktop - 78 */

  position: relative;
  width: 1920px;
  height: 2263px;
  display: block;
}
.casses__mobile--page {
  /* Mobile / Individual_program */

  position: relative;
  width: 375px;
  height: 2418px;
  display: none;
}
@media (max-width: 768px) {
  .casses__mobile--page {
    display: block;
  }

  .casses__desktop--page {
    display: none;
  }
}

.cases__desktop--text_nav {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  /* 9AA8BA */
  color: #9aa8ba;
}
.cases__desktop--text_title {
  /* Desktop/H1 */
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  /* EEF3FF */
  color: #eef3ff;
}
.cases__desktop--main_pos {
  /* Главная / Кейсы */

  position: relative;
  left: 17.71%;
  right: 75.73%;
  top: 6.48%;
  bottom: 92.86%;
}
.cases__desktop--cases_pos {
  /* Кейсы */

  position: relative;
  width: 131px;
  height: 58px;
  left: 340px;
  top: 313px;
}
.cases__desktop--categories {
  /* Group 622 */

  position: relative;
  width: 1241px;
  height: 49px;
  left: 341px;
  top: 436px;
}
.cases__desktop--categories_grid {
  display: flex; /* Используем flex для горизонтального размещения */
  justify-content: flex-start; /* Выравнивание по началу */
  gap: 102px; /* Промежуток между элементами */
}
.cases__desktop--categories_item {
  flex: 0 0 233px;
  height: 49px; /* Высота элемента */
  display: flex; /* Используем flex для выравнивания текста */
  align-items: center; /* Вертикальное выравнивание */
  justify-content: center; /* Горизонтальное выравнивание */
  border-radius: 8px; /* Скругленные углы */
  /* 262938 black v. */
  background: #313341;
}
.cases__desktop--categories_text {
  /* Юзабилити - аудит */
  width: 100%;
  height: 29px;
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  /* EEF3FF */
  color: #eef3ff;
  text-align: center;
}

.cases__desktop--projects_container {
  position: relative;
  width: 1241px;
  left: 341px;
  top: 537px;
}
.cases__desktop--projects_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 столбца одинаковой ширины */
  grid-gap: 40px; /* расстояние между элементами */
  margin-top: 0px; /* Добавим отступ сверху, если нужно */
}
.cases__desktop--projects_item {
  list-style: none;
  padding: 0px; /* добавляем padding для элемента */
  text-align: center;
  width: 387px; /* Установите фиксированную ширину для элементов */
  height: 378px;
}
.cases__desktop--projects_mask {
  position: relative;
  width: 100%; /* Убедитесь, что контейнер занимает всю ширину родительского элемента */
}
.cases__desktop--projects_mask img {
  width: 387px; /* Изображение занимает всю ширину родительского элемента */
  height: 378px; /* Автоматическая высота для пропорционального масштабирования */
  border-radius: 8px;
  object-fit: cover;
}
.cases__desktop--projects_component {
  /* Component 2 */
  position: absolute;
  width: 128px;
  height: 128px;
  left: 238px;
  top: 17px;
}
.cases__desktop--projects_group img {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 103px;
}
.cases__desktop--projects_fill {
  /* Rectangle 91 */
  position: absolute;
  left: 0%;
  right: 4.69%;
  top: 4.69%;
  bottom: 0%;
  /* 262938 black v. */
  background: #313341;
  border-radius: 5px;
}
.cases__desktop--project-name,
.cases__desktop--main-cases,
.cases__desktop--cases {
  font-family: "Fira Sans Condensed";
  color: #ffffff;
}
.cases__desktop--project-name {
  /* Foodzo */
  position: absolute;
  left: 19.53%;
  right: 25%;
  top: 39.06%;
  bottom: 38.28%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  justify-content: center;
  align-items: center;
}
.cases__mobile--text_nav {
  /* Главная / Кейсы */

  position: absolute;
  left: 6.67%;
  right: 68.53%;
  top: 6.05%;
  bottom: 93.34%;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  /* 9AA8BA */
  color: #9aa8ba;
}
.cases__mobile--text_title {
  /* Кейсы */

  position: absolute;
  width: 68px;
  height: 25px;
  left: 25px;
  top: 190px;

  /* Mobile/H1 mobile */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */

  /* EEF3FF */
  color: #eef3ff;
}
.cases__mobile--categories {
  /* Group 1071 */

  position: absolute;
  width: 335px;
  height: 83px;
  left: 26px;
  top: 262px;
}
.cases__mobile--categories_grid {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */

  gap: 17px; /* Промежуток между элементами */
  justify-content: flex-start; /* Выравнивание элементов по левому краю */
  flex-direction: row; /* Горизонтальное размещение элементов */
}

.cases__mobile--categories_item {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 158.7px; /* Ширина элемента */
  height: 33px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 29px;
  gap: 10px;

  background: #2b2d3a;
  box-shadow: 0px 14px 61px rgba(23, 27, 44, 0.75);
  border-radius: 7px;
  cursor: pointer; /* Добавляем курсор, чтобы указать, что элемент кликабелен */
}

.cases__mobile--categories_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #eef3ff;

  width: auto; /* Убираем фиксированную ширину */
  height: auto;
  flex-grow: 1; /* Позволяем тексту растягиваться при необходимости */
}

.cases__mobile--projects_container {
  position: relative;
  width: 327px;
  left: 24px;
  top: 385px;
}

.cases__mobile--projects_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px; /* расстояние между элементами */
}

.cases__mobile--projects_item {
  list-style: none;
  padding: 0px;
  width: 327px;
  height: 320px; /* Фиксированная высота для всех элементов */
}

.cases__mobile--projects_mask {
  position: relative;
  width: 100%;
  height: 100%; /* Контейнер занимает всю высоту родительского элемента */
}

.cases__mobile--projects_mask img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Масштабирование изображения без искажений, заполняя контейнер */
}
.cases__mobile--item_group {
  /* Group 35 */

  position: absolute;
  left: 8.87%;
  right: 85.93%;
  top: 65.31%;
  bottom: 29.38%;

  transform: matrix(1, 0, 0, -1, 0, 0);
}
.cases__mobile--item_title {
  /* Foodzo */

  position: absolute;
  left: 8.87%;
  right: 71.56%;
  top: 77.5%;
  bottom: 25.94%;
  width: 124px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  /* FFFFFF */
  color: #ffffff;
}
.cases__mobile--item_description {
  /* Онлайн гипермаркет. Для компании были разработаны сайт и мобильное приложение и т.д. */

  position: absolute;
  left: 8.87%;
  right: 13.46%;
  top: 85.94%;
  bottom: 7.19%;
  width: 274px;

  /* Mobile/Основной mob */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  /* FFFFFF */
  color: #ffffff;
}
